@tailwind base;
@tailwind components;
@tailwind utilities;

*::-webkit-scrollbar {
  width: 5px;
  background-color: rgba(171, 171, 171, 0.278);
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(171, 171, 171, 0.478);
  border-radius: 5px;
}

body{
  scroll-behavior: smooth;
}

@keyframes load {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.loader {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 7px solid rgba(128, 128, 128, 0.6);
  border-top-color: dodgerblue;
  animation: load 1s ease infinite;
}

.wrapper {
  display: grid;
  grid-template-rows: 0fr;
  overflow: hidden;
}

.wrapper.open {
  grid-template-rows: 1fr;
}

.chatsHeader:hover .chatsArrow{
  transform: rotate(-90deg) translateX(1rem);
  opacity: 1;
}
.chatsArrow{
  transform: rotate(-90deg) translateX(-0.75rem);
  opacity: 0;
}

.revChatsArrow{
  transform: rotate(90deg) translateX(-0.75rem);
  opacity: 0;
}

.chatsHeader:hover .revChatsArrow{
  transform: rotate(90deg) translateX(1rem);
  opacity: 1;
}

.wrrapper{
  scale: 0;
  transform: translateX(50%);
  transform-origin: right bottom;
}

.wrrapper.open{
  scale: 1;
}